.paper121x54{display:inline-block;width:121px;height:54px;background-image:url('asset.6c8a5f5c9c41abab0624ce1af91e3d60.png');background-repeat:no-repeat;}
.paper121x54.stamp-syndicate{background-position:-0px -0px;}
.paper121x54.stamp-centcom{background-position:-0px -54px;}
.paper121x54.stamp-mime{background-position:-0px -108px;}
.paper121x54.stamp-chap{background-position:-0px -162px;}
.paper121x54.stamp-law{background-position:-0px -216px;}
.paper121x54.stamp-qm{background-position:-0px -270px;}
.paper121x54.stamp-cap{background-position:-0px -324px;}
.paper121x54.stamp-rd{background-position:-0px -378px;}
.paper121x54.stamp-hos{background-position:-0px -432px;}
.paper121x54.stamp-ce{background-position:-0px -486px;}
.paper121x54.stamp-cmo{background-position:-0px -540px;}
.paper121x54.stamp-hop{background-position:-0px -594px;}
.paper121x54.stamp-void{background-position:-0px -648px;}
.paper121x54.stamp-ok{background-position:-0px -702px;}
.paper121x54.stamp-deny{background-position:-0px -756px;}
.paper121x54.stamp-clown{background-position:-0px -810px;}