.design32x32{display:inline-block;width:32px;height:32px;background-image:url('asset.c39570a50e8b08013e5e509d5fad3410.png');background-repeat:no-repeat;}
.design32x32.phazon_targ{background-position:-2048px -0px;}
.design32x32.ten_commandments_module{background-position:-768px -0px;}
.design32x32.comp_random{background-position:-4416px -0px;}
.design32x32.comp_ntnet_send_list_literal{background-position:-6368px -0px;}
.design32x32.reactive_armour{background-position:-1792px -0px;}
.design32x32.magboots{background-position:-2656px -0px;}
.design32x32.buffer{background-position:-7712px -0px;}
.design32x32.comp_assoc_list_pick{background-position:-1344px -0px;}
.design32x32.reset_module{background-position:-8448px -0px;}
.design32x32.comp_toggle{background-position:-3584px -0px;}
.design32x32.uranium{background-position:-4288px -0px;}
.design32x32.overlord_module{background-position:-7424px -0px;}
.design32x32.comp_self{background-position:-928px -0px;}
.design32x32.rpd_upgrade_unwrench{background-position:-2144px -0px;}
.design32x32.comp_list_add{background-position:-672px -0px;}
.design32x32.ai_power_upgrade{background-position:-4544px -0px;}
.design32x32.comp_concat_list{background-position:-2720px -0px;}
.design32x32.comp_list_assoc_literal{background-position:-5472px -0px;}
.design32x32.rods{background-position:-896px -0px;}
.design32x32.comp_list_remove{background-position:-7040px -0px;}
.design32x32.inducer{background-position:-448px -0px;}
.design32x32.big_manipulator{background-position:-7360px -0px;}
.design32x32.comp_assoc_list_remove{background-position:-7520px -0px;}
.design32x32.comp_pinpointer{background-position:-3968px -0px;}
.design32x32.cable_coil{background-position:-1728px -0px;}
.design32x32.comp_equip_action{background-position:-4928px -0px;}
.design32x32.comp_select_query{background-position:-4576px -0px;}
.design32x32.comp_set_variable_trigger{background-position:-4960px -0px;}
.design32x32.comp_clock{background-position:-6560px -0px;}
.design32x32.cleric_mace{background-position:-2976px -0px;}
.design32x32.rpd_loaded{background-position:-6880px -0px;}
.design32x32.purge_module{background-position:-7328px -0px;}
.design32x32.thermomachine{background-position:-8032px -0px;}
.design32x32.maintain_module{background-position:-2016px -0px;}
.design32x32.freeform_module{background-position:-64px -0px;}
.design32x32.firelock_board{background-position:-4832px -0px;}
.design32x32.remove_module{background-position:-5248px -0px;}
.design32x32.comp_element_find{background-position:-1280px -0px;}
.design32x32.holosign{background-position:-224px -0px;}
.design32x32.welding_tool{background-position:-160px -0px;}
.design32x32.comp_counter_overlay{background-position:-5952px -0px;}
.design32x32.comp_tempsensor{background-position:-5856px -0px;}
.design32x32.airalarm_electronics{background-position:-8064px -0px;}
.design32x32.oxygen_module{background-position:-480px -0px;}
.design32x32.comp_foreach{background-position:-1632px -0px;}
.design32x32.freeformcore_module{background-position:-8512px -0px;}
.design32x32.rcd_upgrade_furnishing{background-position:-5600px -0px;}
.design32x32.airlock_painter{background-position:-7808px -0px;}
.design32x32.savannah_ivanov_peri{background-position:-1504px -0px;}
.design32x32.limbdesign_parent{background-position:-4992px -0px;}
.design32x32.comp_tonumber{background-position:-4640px -0px;}
.design32x32.yesman_module{background-position:-7776px -0px;}
.design32x32.honker_targ{background-position:-2528px -0px;}
.design32x32.gygax_targ{background-position:-2752px -0px;}
.design32x32.borg_ai_control{background-position:-8672px -0px;}
.design32x32.plumbing_rcd{background-position:-96px -0px;}
.design32x32.rwd{background-position:-4864px -0px;}
.design32x32.asimovpp_module{background-position:-3648px -0px;}
.design32x32.dna_disk{background-position:-352px -0px;}
.design32x32.wirebrush{background-position:-1856px -0px;}
.design32x32.odysseus_peri{background-position:-6688px -0px;}
.design32x32.balance_module{background-position:-6176px -0px;}
.design32x32.diamond{background-position:-5920px -0px;}
.design32x32.catears{background-position:-4480px -0px;}
.design32x32.packagewrap{background-position:-8192px -0px;}
.design32x32.comp_radio{background-position:-8480px -0px;}
.design32x32.airlock_board{background-position:-7136px -0px;}
.design32x32.silver{background-position:-992px -0px;}
.design32x32.durand_peri{background-position:-5088px -0px;}
.design32x32.leather{background-position:-1088px -0px;}
.design32x32.savannah_ivanov_main{background-position:-3136px -0px;}
.design32x32.liveandletlive_module{background-position:-5056px -0px;}
.design32x32.comp_ntnet_receive{background-position:-6144px -0px;}
.design32x32.comp_string_contains{background-position:-6496px -0px;}
.design32x32.comp_list_literal{background-position:-864px -0px;}
.design32x32.pet_carrier{background-position:-3072px -0px;}
.design32x32.comp_direction{background-position:-4512px -0px;}
.design32x32.hulkamania_module{background-position:-8416px -0px;}
.design32x32.solar_tracker{background-position:-2208px -0px;}
.design32x32.paladin_devotion_module{background-position:-5440px -0px;}
.design32x32.comp_format{background-position:-1568px -0px;}
.design32x32.comp_binary_convert{background-position:-2496px -0px;}
.design32x32.comp_hear{background-position:-6592px -0px;}
.design32x32.integrated_circuit{background-position:-5216px -0px;}
.design32x32.portadrive_basic{background-position:-6816px -0px;}
.design32x32.mini_welding_tool{background-position:-1120px -0px;}
.design32x32.electropack{background-position:-5312px -0px;}
.design32x32.perceptomatrix{background-position:-1024px -0px;}
.design32x32.comp_install_detector{background-position:-3872px -0px;}
.design32x32.comp_ntnet_send{background-position:-8640px -0px;}
.design32x32.damaged_module{background-position:-1760px -0px;}
.design32x32.comp_not{background-position:-3936px -0px;}
.design32x32.comp_mmi{background-position:-7872px -0px;}
.design32x32.comp_get_column{background-position:-8544px -0px;}
.design32x32.rglass{background-position:-6656px -0px;}
.design32x32.antimov_module{background-position:-7936px -0px;}
.design32x32.limbdesign_ethereal{background-position:-1600px -0px;}
.design32x32.comp_comparison{background-position:-2432px -0px;}
.design32x32.rcd_upgrade_anti_interrupt{background-position:-5696px -0px;}
.design32x32.comp_pull{background-position:-1056px -0px;}
.design32x32.comp_soundemitter{background-position:-3008px -0px;}
.design32x32.rtd_loaded{background-position:-6720px -0px;}
.design32x32.holosignatmos{background-position:-3712px -0px;}
.design32x32.quarantine_module{background-position:-8320px -0px;}
.design32x32.savannah_ivanov_targ{background-position:-3520px -0px;}
.design32x32.plastic_necklace{background-position:-4128px -0px;}
.design32x32.plasmaman_gas_filter{background-position:-7264px -0px;}
.design32x32.pocketfireextinguisher{background-position:-6464px -0px;}
.design32x32.comp_speech{background-position:-1440px -0px;}
.design32x32.painter_module{background-position:-4064px -0px;}
.design32x32.durand_main{background-position:-4768px -0px;}
.design32x32.peacekeeper_module{background-position:-7392px -0px;}
.design32x32.holosignengi{background-position:-5376px -0px;}
.design32x32.rcd_upgrade_simple_circuits{background-position:-4896px -0px;}
.design32x32.limbdesign_plasmaman{background-position:-8128px -0px;}
.design32x32.comp_view_sensor{background-position:-8704px -0px;}
.design32x32.titaniumglass{background-position:-7680px -0px;}
.design32x32.drone_module{background-position:-6272px -0px;}
.design32x32.borg_upgrade_rename{background-position:-5760px -0px;}
.design32x32.rcd_ammo{background-position:-1920px -0px;}
.design32x32.plastitaniumglass{background-position:-5504px -0px;}
.design32x32.protectstation_module{background-position:-7616px -0px;}
.design32x32.comp_arithmetic{background-position:-8768px -0px;}
.design32x32.comp_health{background-position:-7456px -0px;}
.design32x32.plasma{background-position:-704px -0px;}
.design32x32.hippocratic_module{background-position:-1664px -0px;}
.design32x32.firealarm_electronics{background-position:-3776px -0px;}
.design32x32.boxcutter{background-position:-4800px -0px;}
.design32x32.comp_thought_listener{background-position:-832px -0px;}
.design32x32.inducerengi{background-position:-4704px -0px;}
.design32x32.thermurderdynamic_module{background-position:-3040px -0px;}
.design32x32.cardboard{background-position:-2304px -0px;}
.design32x32.comp_index_table{background-position:-3232px -0px;}
.design32x32.bolter_wrench{background-position:-3680px -0px;}
.design32x32.comp_nfc_send{background-position:-2688px -0px;}
.design32x32.honker_peri{background-position:-7008px -0px;}
.design32x32.handdrill{background-position:-7904px -0px;}
.design32x32.ripley_peri{background-position:-7168px -0px;}
.design32x32.comp_id_getter{background-position:-320px -0px;}
.design32x32.aicore{background-position:-7200px -0px;}
.design32x32.comp_list_pick{background-position:-5664px -0px;}
.design32x32.comp_pressuresensor{background-position:-7648px -0px;}
.design32x32.comp_nfc_receive{background-position:-6080px -0px;}
.design32x32.comp_wirenet_send{background-position:-1888px -0px;}
.design32x32.gold{background-position:-3456px -0px;}
.design32x32.limbdesign_felinid{background-position:-1184px -0px;}
.design32x32.plasmaglass{background-position:-6912px -0px;}
.design32x32.large_welding_tool{background-position:-2400px -0px;}
.design32x32.jawsoflife{background-position:-3552px -0px;}
.design32x32.circuit_multitool{background-position:-6208px -0px;}
.design32x32.surgical_tape{background-position:-5792px -0px;}
.design32x32.comp_format_assoc{background-position:-6944px -0px;}
.design32x32.comp_reagents{background-position:-7072px -0px;}
.design32x32.rcd_upgrade_frames{background-position:-256px -0px;}
.design32x32.comp_index{background-position:-1536px -0px;}
.design32x32.plastitanium{background-position:-3424px -0px;}
.design32x32.comp_tostring{background-position:-6784px -0px;}
.design32x32.rld_mini{background-position:-4256px -0px;}
.design32x32.holobarrier_med{background-position:-192px -0px;}
.design32x32.lava_rods{background-position:-6112px -0px;}
.design32x32.thinkermov_module{background-position:-7744px -0px;}
.design32x32.ai_cam_upgrade{background-position:-8576px -0px;}
.design32x32.super_pointy_tape{background-position:-5184px -0px;}
.design32x32.comp_access_checker{background-position:-8736px -0px;}
.design32x32.comp_decimal_convert{background-position:-640px -0px;}
.design32x32.comp_arctan2{background-position:-512px -0px;}
.design32x32.comp_delay{background-position:-6336px -0px;}
.design32x32.clarke_peri{background-position:-6976px -0px;}
.design32x32.comp_laserpointer{background-position:-1312px -0px;}
.design32x32.comp_length{background-position:-6752px -0px;}
.design32x32.adv_fire_extinguisher{background-position:-2560px -0px;}
.design32x32.comp_logic{background-position:-6400px -0px;}
.design32x32.limbdesign_lizard{background-position:-4448px -0px;}
.design32x32.titanium{background-position:-544px -0px;}
.design32x32.rcd_loaded{background-position:-4320px -0px;}
.design32x32.comp_multiplexer{background-position:-6016px -0px;}
.design32x32.odysseus_main{background-position:-7968px -0px;}
.design32x32.tinfoil_hat{background-position:-2848px -0px;}
.design32x32.tech_disk{background-position:-1824px -0px;}
.design32x32.comp_concat{background-position:-3296px -0px;}
.design32x32.comp_wirenet_send_literal{background-position:-8000px -0px;}
.design32x32.portadrive_advanced{background-position:-7232px -0px;}
.design32x32.comp_pathfind{background-position:-5536px -0px;}
.design32x32.gygax_peri{background-position:-608px -0px;}
.design32x32.plasmareinforcedglass{background-position:-2944px -0px;}
.design32x32.comp_camera_bci{background-position:-2112px -0px;}
.design32x32.forcefield_projector{background-position:-6528px -0px;}
.design32x32.dungeon_master_module{background-position:-4352px -0px;}
.design32x32.comp_id_info_reader{background-position:-8160px -0px;}
.design32x32.screwdriver{background-position:-6624px -0px;}
.design32x32.comp_timepiece{background-position:-8288px -0px;}
.design32x32.exwelder{background-position:-7552px -0px;}
.design32x32.multitool{background-position:-1248px -0px;}
.design32x32.iron{background-position:-5344px -0px;}
.design32x32.borg_upgrade_restart{background-position:-8352px -0px;}
.design32x32.phazon_peri{background-position:-8256px -0px;}
.design32x32.comp_gps{background-position:-2816px -0px;}
.design32x32.default_module{background-position:-5408px -0px;}
.design32x32.super_sticky_tape{background-position:-3264px -0px;}
.design32x32.knight_helmet{background-position:-1408px -0px;}
.design32x32.portadrive_super{background-position:-3616px -0px;}
.design32x32.stethoscope{background-position:-4000px -0px;}
.design32x32.modlink_scryer{background-position:-2880px -0px;}
.design32x32.comp_wirenet_receive{background-position:-800px -0px;}
.design32x32.holodisk{background-position:-5728px -0px;}
.design32x32.phazon_main{background-position:-7488px -0px;}
.design32x32.comp_reagent_injector{background-position:-1472px -0px;}
.design32x32.plasteel{background-position:-576px -0px;}
.design32x32.holosignrestaurant{background-position:-2240px -0px;}
.design32x32.glass{background-position:-7104px -0px;}
.design32x32.rollingpaper{background-position:-8224px -0px;}
.design32x32.comp_router{background-position:-3104px -0px;}
.design32x32.comp_light{background-position:-4192px -0px;}
.design32x32.anomaly_neutralizer{background-position:-4384px -0px;}
.design32x32.holosignsec{background-position:-3744px -0px;}
.design32x32.tyrant_module{background-position:-2912px -0px;}
.design32x32.shuttlerods{background-position:-2336px -0px;}
.design32x32.comp_species{background-position:-5824px -0px;}
.design32x32.durand_targ{background-position:-5888px -0px;}
.design32x32.reporter_module{background-position:-6432px -0px;}
.design32x32.holosignbar{background-position:-2176px -0px;}
.design32x32.rcd_upgrade_silo_link{background-position:-4032px -0px;}
.design32x32.comp_matscanner{background-position:-6048px -0px;}
.design32x32.polymorph_belt{background-position:-384px -0px;}
.design32x32.clarke_main{background-position:-736px -0px;}
.design32x32.tile_sprayer{background-position:-5632px -0px;}
.design32x32.decal_painter{background-position:-3840px -0px;}
.design32x32.comp_typecheck{background-position:-4224px -0px;}
.design32x32.power_control{background-position:-3904px -0px;}
.design32x32.plumbing_rcd_service{background-position:-3392px -0px;}
.design32x32.comp_assoc_list_set{background-position:-288px -0px;}
.design32x32.crowbar{background-position:-4160px -0px;}
.design32x32.desttagger{background-position:-2624px -0px;}
.design32x32.extinguisher{background-position:-4608px -0px;}
.design32x32.plastic{background-position:-2592px -0px;}
.design32x32.comp_object_overlay{background-position:-2784px -0px;}
.design32x32.pointy_tape{background-position:-3200px -0px;}
.design32x32.paladin_module{background-position:-5024px -0px;}
.design32x32.ripley_main{background-position:-1952px -0px;}
.design32x32.comp_vox{background-position:-416px -0px;}
.design32x32.onehuman_module{background-position:-7584px -0px;}
.design32x32.comp_split{background-position:-2080px -0px;}
.design32x32.gygax_main{background-position:-2368px -0px;}
.design32x32.wirecutters{background-position:-1696px -0px;}
.design32x32.holobarrier_jani{background-position:-4672px -0px;}
.design32x32.asimov_module{background-position:-6304px -0px;}
.design32x32.vacuum{background-position:-3168px -0px;}
.design32x32.bananium{background-position:-8096px -0px;}
.design32x32.rcd_upgrade_cooling{background-position:-5280px -0px;}
.design32x32.comp_target_intercept{background-position:-3360px -0px;}
.design32x32.comp_typecast{background-position:-6240px -0px;}
.design32x32.comp_module{background-position:-2464px -0px;}
.design32x32.comp_index_assoc{background-position:-3488px -0px;}
.design32x32.comp_wire_bundle{background-position:-1152px -0px;}
.design32x32.comp_filter_list{background-position:-5568px -0px;}
.design32x32.nutimov_module{background-position:-7840px -0px;}
.design32x32.sticky_tape{background-position:-8608px -0px;}
.design32x32.bluespace_pod{background-position:-1376px -0px;}
.design32x32.comp_health_state{background-position:-4096px -0px;}
.design32x32.comp_bar_overlay{background-position:-1984px -0px;}
.design32x32.tape{background-position:-3808px -0px;}
.design32x32.weldingmask{background-position:-8384px -0px;}
.design32x32.comp_id_access_reader{background-position:-32px -0px;}
.design32x32.safeguard_module{background-position:-0px -0px;}
.design32x32.corporate_module{background-position:-5120px -0px;}
.design32x32.comp_trigonometry{background-position:-3328px -0px;}
.design32x32.gas_filter{background-position:-5152px -0px;}
.design32x32.cloth{background-position:-1216px -0px;}
.design32x32.knight_armour{background-position:-2272px -0px;}
.design32x32.wrench{background-position:-6848px -0px;}
.design32x32.robocop_module{background-position:-5984px -0px;}
.design32x32.honker_main{background-position:-7296px -0px;}
.design32x32.comp_list_clear{background-position:-4736px -0px;}
.design32x32.comp_textcase{background-position:-128px -0px;}
.design32x32.quantum_keycard{background-position:-960px -0px;}